@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-header {
    font-family: 'Montserrat', sans-serif;
}